body {
  font-family: "Montserrat", "Arial", sans-serif;
}
.banner-intro {
background-color:#cccccc;
background-image:url("https://i.ibb.co/vCW6H97t/26b5b0b6db8a768780d41e05ca6d1674.jpg");
whith:1440px;
height: 700px;
margin: 0;
padding:162px;
}

.card {
  width: 500px;
  min-heiht:100%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: #8c9e80;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: left;
  margin-bottom: 162px;

}
.card--modificator{
  margin-left: auto;
  text-align: right;
}

.card__warp {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
  margin: 0 0 10px 0;
  display: block;
}

.card__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin: 0 auto 20px;
  text-transform: uppercase;
  max-width: 400px;
  text-align: center;
}

.card__text {
  max-width: 410px;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  display: block;
}

.card__link {
  font-size: 14px;
  line-height: 20px;
  padding: 14px;
  width: 145px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  border-radius: 60px;
  display: block;
}
.card--modificator {
 text-align: right;
  margin-bottom: 10px;
}
